# bin floder
/bin/

# examples floder
/examples/

# build floder
/build/

# hardware floder
/hardware/
/hardware/tools/avr/

# Compiled class file
*.class

# Mac OS files
*.DS_Store

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

examples/.DS_Store

