.text-area {
    /*-fx-background-color:rgba(53,89,119,0.4);*/
    -fx-background-color: #111111;
}

.text-area .scroll-pane 
{
    -fx-background-color: transparent;
    
    -fx-hbar-policy : never;
    -fx-vbar-policy : never;
}


.text-area .scroll-pane .viewport
{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content
{
    -fx-background-color: transparent;
}