
.examplesBtn
{  
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetExamplesBtn1.png");
    -fx-padding: 5 5 5 5;
}

.examplesBtn:hover
{
    -fx-background-color: #333333;
    -fx-background-image: url("../images/magnetExamplesBtn2.png");
    -fx-padding: 5 5 5 5;
}

.examplesBtn:pressed
{
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetExamplesBtn3.png");
    -fx-padding: 5 5 5 5;
}

/*-------------*/

.sensorBtn
{  
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetSensorBtn1.png");
    -fx-padding: 5 5 5 5;
}

.sensorBtn:hover
{
    -fx-background-color: #333333;
    -fx-background-image: url("../images/magnetSensorBtn2.png");
    -fx-padding: 5 5 5 5;
}

.sensorBtn:pressed
{
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetSensorBtn3.png");
    -fx-padding: 5 5 5 5;
}

/*---------------*/

.libBtn2
{  
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetLibBtn1.png");
    -fx-padding: 5 5 5 5;
}

.libBtn2:hover
{
    -fx-background-color: #333333;
    -fx-background-image: url("../images/magnetLibBtn2.png");
    -fx-padding: 5 5 5 5;
}

.libBtn2:pressed
{
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetLibBtn3.png");
    -fx-padding: 5 5 5 5;
}

/*---------------*/

.lanBtn
{  
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetLanBtn1.png");
    -fx-padding: 5 5 5 5;
}

.lanBtn:hover
{
    -fx-background-color: #333333;
    -fx-background-image: url("../images/magnetLanBtn2.png");
    -fx-padding: 5 5 5 5;
}

.lanBtn:pressed
{
    -fx-background-color: #333333; 
    -fx-background-image: url("../images/magnetLanBtn3.png");
    -fx-padding: 5 5 5 5;
}