.okBtn
{  
    -fx-background-color: #c2c2c2;
    -fx-background-radius: 0;
    -fx-border-color: #c2c2c2; 
    -fx-border-width: 2px;
}

.okBtn:hover
{
    -fx-background-color: #c2c2c2;
    -fx-background-radius: 0;
    -fx-border-color: #555555; 
    -fx-border-width: 2px;
}

.okBtn:pressed
{
    -fx-background-color: #c2c2c2;
    -fx-background-radius: 0; 
    -fx-border-color: #c2c2c2; 
    -fx-border-width: 2px;
    
}
