.mylistview
{
	-fx-border-color:derive(gray, 70%);
}
	 
/* The main scrollbar CSS class of ListView */
.mylistview .scroll-bar:horizontal ,
.mylistview  .scroll-bar:vertical
{
	-fx-background-color:transparent; 
}
	 
/* The increment and decrement button CSS class of scrollbar */
.mylistview .increment-button ,.mylistview .decrement-button 
{
	-fx-background-color:transparent;
	-fx-border-color:derive(gray, 70%);
}
	 
/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track ,
.mylistview .scroll-bar:vertical .track
{
	-fx-background-color: transparent;
	-fx-border-color:derive(gray, 70%);
	-fx-background-radius: 0em;
}
	 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb 
{
	-fx-background-color:derive(black, 80%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}

/* ------------------------------ */



